#services-nav-menu li {
    width: 100%;
    margin-bottom: 0px;
    padding: 0;
    padding-bottom: 10px;
    border: 0;
}

#services-nav-menu li a {
    width: 100%;
    color: #000000;
    display: block;
    border: 1px solid #999999;
}
#services-nav-menu .hover-active-state .icon {
    width: 100%;
    height: auto;
    background: #000000;
    padding: 0;
    min-height: 168px;
    padding-top: 20px;
    margin-bottom: -5px;
}


#services-nav-menu .hover-active-state .icon img {
    height: 120px;
    width: auto;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    margin-top: 5px;
}

#services-nav-menu .hover-active-state .content {
    display: none;
}

.directory_box_contant img {
    
    width: 100%;
}

.content-more-less{

    height:40px;
    overflow: hidden;
}

.more-content{

    width:100% !important;
    -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  -ms-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s ease;

}

.read-less{

    width:50%;
    -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  -ms-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s ease;
}

.directory_box_footer ul{

    margin:0;
    padding:0;
}


    .directory_box_footer li {
    font-size: 11px;
    color: #666;
    padding: 0px 5px;
    border-right: 1px solid #00cc33;
    display: inline;

}

@media(max-width:767px){

    #services-nav-menu li{
        width: 32% !important;
        display: inline-flex !important;
    }

    #services-nav-menu li a .content{

        width: 100% !important;
        padding:5px 0 10px 0!important;
    }   

    #services-nav-menu li a .content h4{

        font-size: 13px !important;
        font-weight: normal;
    }

    #services-nav-menu li a .icon{

    padding: 0 !important;
    width: 100% !important;
    text-align: center !important;
    
    }

    #services-nav-menu .hover-active-state .icon{

        min-height: 91px !important;
        margin-bottom: 0px !important;
    }

    #services-nav-menu .hover-active-state .icon img{
        height: 81px !important;
    }

    .directory_ads{

        display: none;
    }

    .recommended_companies h2{

        font-size: 19px !important;
        margin: 14px 0 0 0 !important;
    }
}