<section id="">
            <div id="contractor-signup">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-100">
                            <div class="contractor_signup">
                                <h2 class="font_capitalizs">Contract<span>Hub</span> Directory</h2>
                                <ul class="breadcomb">
                                    <li><a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">Home</a></li>
                                    <li class="right_arrow">&gt;</li>
                                    <li><a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">CONTRACTHUB </a></li>
                                    <li class="right_arrow">&gt;</li>
                                    <li class="active">DIRECTORY </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-100">
                        <div class="contract_hub_hadding">
                            <h5>WHAT ARE YOU INTERESTED IN?</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-40 col-md-30">
                        <ul id="services-nav-menu" class="clearfix">
                            <li>
                                <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#" class="">
                                    <div class="icon"> <img src="./assets/images/umbrella-companies-hover.png" alt="" title="" class="menu_bar"> </div>
                                    <div class="content">
                                        <h4>Umbrella Companies</h4>
                                        <p>Search our recommended Umbrella companies to find the one that best suits you.</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#" class="">
                                    <div class="icon"> <img src="./assets/images/insurance-providers.png" alt="" title="" class="menu_bar"> </div>
                                    <div class="content">
                                        <h4>Insurance Providers</h4>
                                        <p>Need insurance? We have all the best IT contract insurance experts to hand.</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#" class="hover">
                                    <div class="icon"> <img src="./assets/images/it-training.png" alt="" title="" class="menu_bar"> </div>
                                    <div class="content">
                                        <h4>IT Training</h4>
                                        <p>Stay ahead and upskill with some of the best IT training companies out there.</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#" class="">
                                    <div class="icon"> <img src="./assets/images/accountancy-services.png" alt="" title="" class="menu_bar"> </div>
                                    <div class="content">
                                        <h4>Accountancy Services</h4>
                                        <p>Need help setting up a company or dealing with your accounts? Find it here.</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#" class="">
                                    <div class="icon"> <img src="./assets/images/mortgage-solutions.png" alt="" title="" class="menu_bar"> </div>
                                    <div class="content">
                                        <h4>Mortgage Solutions</h4>
                                        <p>Make it easy by finding a mortgage solution designed just for IT Contractors.</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#" class="">
                                    <div class="icon"> <img src="./assets/images/cv-writing.png" alt="" title="" class="menu_bar"> </div>
                                    <div class="content">
                                        <h4>CV Writing &amp; Help</h4>
                                        <p>Time to upgrade your CV and social profile, find someone who can really help.</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#" class="">
                                    <div class="icon"> <img src="./assets/images/working-abroads.png" alt="" title="" class="menu_bar"> </div>
                                    <div class="content">
                                        <h4>Working Abroad</h4>
                                        <p>Time to upgrade your CV and social profile, find someone who can really help.</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#" class="">
                                    <div class="icon"> <img src="./assets/images/mvl-advisors.png" alt="" title="" class="menu_bar"> </div>
                                    <div class="content">
                                        <h4>MVL Advisors</h4>
                                        <p>Time to upgrade your CV and social profile, find someone who can really help.</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="directory_ads">
                            <div class="directory_ads_header">
                                <img src="./assets/images/directory-ads-logo.png" alt="" title="" class="">
                                <span>#</span>WorkSmart<span>PlayHard</span>
                            </div>
                            <div class="directory_ads_contant">
                                <p class="position_rotade"> <span>What do you do when</span>
                                    <br>
                                    <span> You’re not contracting? </span></p>
                                <img src="./assets/images/directory-tour.png" alt="" title="" class="">
                            </div>
                            <div class="directory_ads_footer">
                                <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-60 col-md-70">
                        <div class="recommended_companies">
                            <h2>We have <span class="text_green">14</span> recommended Umbrella Companies</h2>
                            <p>Take your time to choose the right umbrella company for you, one that understands your industry and working pattern. Here we offer a list of umbrella companies that we think offer a good offering to the IT contracting community. </p>
                        </div>
                        <div class="row">
                            <div class="readmore_viewfull" style="display:none;">
                                <div class="col-sm-100 col-md-100">
                                    <div class="contractor_directory_box">
                                        <img src="./assets/images/umbrella-companies.png" alt="" title="" class="left_side_icon">
                                        <div class="directory_box_contant">
                                            <div class="full_page_header">
                                                <h2>ContractorUmbrella Ltd</h2>
                                                <img src="./assets/images/directory-box-1.png" alt="" title="" class="">
                                            </div>
                                            <h5>Description of Services<span class="text_green">:</span></h5>
                                            <p>Parasol is a Professional Employment Organisation (PEO), and the leading provider of outsourced employment services to contractors, freelancers and the recruitment agencies that supply them. Parasol acts as an intermediary between contractors and their clients, meaning it takes care of all administration duties such as income tax and national insurance. We partner with over 2,500 recruitment agencies and have looked after over 90,000 satisfied contractors since our launch in 2000.</p>
                                            <p>With hundreds of expert head office staff, we are obsessive about excellent support and focused on ensuring all contractors get paid on time and in full. We’re a founding member of the Freelancer &amp; Contractor Service Association (FCSA) and compliance is at the heart of our service commitment.</p>
                                            <p>Parasol also provides contractors with access to all the employment rights and benefits given to permanent employees, including sick pay, holiday pay and maternity &amp; paternity pay.</p>
                                            <p>Contractors’ work style isn’t 9-5, so neither are Parasol’s services. Instead, Parasol is there to offer support whenever needed, whether that’s via its clever online portal or extended opening hours. Parasol’s expert team is available between 8am-8pm Monday-Thursday, 8am-7pm on Fridays and 10am-4pm on Saturdays.</p>
                                            <a href="javascript:void(0)" class="read_less">READ LESS  <i class="fa fa-minus text_green" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="mobile_website">
                                            <div class="row">
                                                <div class="col-md-50 col-sm-100 col-xs-100">
                                                    <div class="mobile_website_left">
                                                        <ul>
                                                            <li>
                                                                <img src="./assets/images/location.png" alt="" title="" class="">
                                                                <span>Warrington, Cheshire</span>
                                                            </li>
                                                            <li>
                                                                <img src="./assets/images/mobile.png" alt="" title="" class="">
                                                                <span>01206 713 680</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-50 col-sm-100 col-xs-100">
                                                    <div class="mobile_website_right">
                                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">OPEN WEBSITE <i class="fa fa-plus text_green" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="directory_box_footer">
                                            <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">UMBRELLA SERVICES </a>
                                            <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">LIMITED COMPANY   </a>
                                            <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">SOLE TRADER</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-50 col-md-50">
                                <div class="contractor_directory_box">
                                    <img src="./assets/images/umbrella-companies.png" alt="" title="" class="left_side_icon">
                                    <div class="directory_box_contant">
                                        <img src="./assets/images/directory-box-1.png" alt="" title="" class="">
                                        <h2>ContractorUmbrella Ltd</h2>
                                        <h5>Description of Services<span class="text_green">:</span></h5>
                                        <p>Parasol is a Professional Employment Organisation (PEO), and the leading provider of outsourced employment services to contractors, freelancers and the recruitment agencies that supply them. </p>
                                        <a href="javascript:void(0)" id="read_full_page">READ MORE <i class="fa fa-plus text_green" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="mobile_website">
                                        <div class="row">
                                            <div class="col-md-50 col-sm-100 col-xs-52">
                                                <div class="mobile_website_left">
                                                    <img src="./assets/images/mobile.png" alt="" title="" class="">
                                                    <span>01206 713 680</span>
                                                </div>
                                            </div>
                                            <div class="col-md-50 col-sm-100 col-xs-48">
                                                <div class="mobile_website_right">
                                                    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">OPEN WEBSITE <i class="fa fa-plus text_green" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="directory_box_footer">
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">UMBRELLA SERVICES </a>
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">LIMITED COMPANY   </a>
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">SOLE TRADER</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-50 col-md-50">
                                <div class="contractor_directory_box">
                                    <img src="./assets/images/umbrella-companies.png" alt="" title="" class="left_side_icon">
                                    <div class="directory_box_contant">
                                        <img src="./assets/images/directory-box-2.png" alt="" title="" class="">
                                        <h2>Tax4One</h2>
                                        <h5>Description of Services<span class="text_green">:</span></h5>
                                        <p>Parasol is a Professional Employment Organisation (PEO), and the leading provider of outsourced employment services to contractors, freelancers and the recruitment agencies that supply them. </p>
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">READ MORE <i class="fa fa-plus text_green" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="mobile_website">
                                        <div class="row">
                                            <div class="col-md-50 col-sm-100 col-xs-52">
                                                <div class="mobile_website_left">
                                                    <img src="./assets/images/mobile.png" alt="" title="" class="">
                                                    <span>01206 713 680</span>
                                                </div>
                                            </div>
                                            <div class="col-md-50 col-sm-100 col-xs-48">
                                                <div class="mobile_website_right">
                                                    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">OPEN WEBSITE <i class="fa fa-plus text_green" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="directory_box_footer">
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">UMBRELLA SERVICES </a>
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">LIMITED COMPANY   </a>
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">SOLE TRADER</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-50 col-md-50">
                                <div class="contractor_directory_box">
                                    <img src="./assets/images/umbrella-companies.png" alt="" title="" class="left_side_icon">
                                    <div class="directory_box_contant">
                                        <img src="./assets/images/directory-box-3.png" alt="" title="" class="">
                                        <h2>Ship Shape Pay</h2>
                                        <h5>Description of Services<span class="text_green">:</span></h5>
                                        <p>Parasol is a Professional Employment Organisation (PEO), and the leading provider of outsourced employment services to contractors, freelancers and the recruitment agencies that supply them. </p>
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">READ MORE <i class="fa fa-plus text_green" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="mobile_website">
                                        <div class="row">
                                            <div class="col-md-50 col-sm-100 col-xs-52">
                                                <div class="mobile_website_left">
                                                    <img src="./assets/images/mobile.png" alt="" title="" class="">
                                                    <span>01206 713 680</span>
                                                </div>
                                            </div>
                                            <div class="col-md-50 col-sm-100 col-xs-48">
                                                <div class="mobile_website_right">
                                                    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">OPEN WEBSITE <i class="fa fa-plus text_green" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="directory_box_footer">
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">UMBRELLA SERVICES </a>
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">LIMITED COMPANY   </a>
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">SOLE TRADER</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-50 col-md-50">
                                <div class="contractor_directory_box">
                                    <img src="./assets/images/umbrella-companies.png" alt="" title="" class="left_side_icon">
                                    <div class="directory_box_contant">
                                        <img src="./assets/images/directory-box-4.png" alt="" title="" class="">
                                        <h2>ContractRecruit Payroll Solutions</h2>
                                        <h5>Description of Services<span class="text_green">:</span></h5>
                                        <p>Parasol is a Professional Employment Organisation (PEO), and the leading provider of outsourced employment services to contractors, freelancers and the recruitment agencies that supply them. </p>
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">READ MORE <i class="fa fa-plus text_green" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="mobile_website">
                                        <div class="row">
                                            <div class="col-md-50 col-sm-100 col-xs-52">
                                                <div class="mobile_website_left">
                                                    <img src="./assets/images/mobile.png" alt="" title="" class="">
                                                    <span>01206 713 680</span>
                                                </div>
                                            </div>
                                            <div class="col-md-50 col-sm-100 col-xs-48">
                                                <div class="mobile_website_right">
                                                    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">OPEN WEBSITE <i class="fa fa-plus text_green" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="directory_box_footer">
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">UMBRELLA SERVICES </a>
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">LIMITED COMPANY   </a>
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">SOLE TRADER</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-50 col-md-50">
                                <div class="contractor_directory_box">
                                    <img src="./assets/images/umbrella-companies.png" alt="" title="" class="left_side_icon">
                                    <div class="directory_box_contant">
                                        <img src="./assets/images/directory-box-1.png" alt="" title="" class="">
                                        <h2>ContractorUmbrella Ltd</h2>
                                        <h5>Description of Services<span class="text_green">:</span></h5>
                                        <p>Parasol is a Professional Employment Organisation (PEO), and the leading provider of outsourced employment services to contractors, freelancers and the recruitment agencies that supply them. </p>
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">READ MORE <i class="fa fa-plus text_green" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="mobile_website">
                                        <div class="row">
                                            <div class="col-md-50 col-sm-100 col-xs-52">
                                                <div class="mobile_website_left">
                                                    <img src="./assets/images/mobile.png" alt="" title="" class="">
                                                    <span>01206 713 680</span>
                                                </div>
                                            </div>
                                            <div class="col-md-50 col-sm-100 col-xs-48">
                                                <div class="mobile_website_right">
                                                    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">OPEN WEBSITE <i class="fa fa-plus text_green" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="directory_box_footer">
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">UMBRELLA SERVICES </a>
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">LIMITED COMPANY   </a>
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">SOLE TRADER</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-50 col-md-50">
                                <div class="contractor_directory_box">
                                    <img src="./assets/images/umbrella-companies.png" alt="" title="" class="left_side_icon">
                                    <div class="directory_box_contant">
                                        <img src="./assets/images/directory-box-2.png" alt="" title="" class="">
                                        <h2>Tax4One</h2>
                                        <h5>Description of Services<span class="text_green">:</span></h5>
                                        <p>Parasol is a Professional Employment Organisation (PEO), and the leading provider of outsourced employment services to contractors, freelancers and the recruitment agencies that supply them. </p>
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">READ MORE <i class="fa fa-plus text_green" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="mobile_website">
                                        <div class="row">
                                            <div class="col-md-50 col-sm-100 col-xs-52">
                                                <div class="mobile_website_left">
                                                    <img src="./assets/images/mobile.png" alt="" title="" class="">
                                                    <span>01206 713 680</span>
                                                </div>
                                            </div>
                                            <div class="col-md-50 col-sm-100 col-xs-48">
                                                <div class="mobile_website_right">
                                                    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">OPEN WEBSITE <i class="fa fa-plus text_green" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="directory_box_footer">
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">UMBRELLA SERVICES </a>
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">LIMITED COMPANY   </a>
                                        <a href="http://beta.appnwebtechnologies.com/contractor/contractor-directory.html#">SOLE TRADER</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="not_found_loking">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-40">
                            <div class="not_found_loking_left">
                                <span>Still not found what you’re looking for?</span>
                            </div>
                        </div>
                        <div class="col-sm-60">
                            <div class="not_found_loking_right">
                                <span class="color1">Umbrella</span> <span class="color2">Insurance</span> <span class="color3">Training </span>
                                <br>
                                <span class="color4">accounting</span> <span class="color5">mortgages</span> <span class="color6">CV Help </span>
                                <br>
                                <span class="color7">working Abroad</span> <span class="color8">MVl advice</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>