
.errorbox {
    border: 2px dashed #FF0066;
    color: #000;
    margin-bottom: 20px;
    padding: 10px;
    background: #E7EDEA;
    font-weight: normal;
}
.errorbox >b {
    font-weight: normal;
    margin-bottom: 10px;
    display: block;
}
.errorbox > li {
    display: inline-block;
    background: #000;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    color: #ffffff;
}

:host/deep/.irs-from{ background: #00ccff;}
:host/deep/.irs-from:after{ border-top-color:#00ccff; }
:host/deep/.irs-to{ background: #00ccff;}
:host/deep/.irs-to:after{ border-top-color:#00ccff; }
:host/deep/.irs-bar{ background:#00ccff;}
:host/deep/.irs-slider{background:#00ccff; width:2px !important;}

.my_applications_box .footer_box .view_company p a {
    width: auto;
}
.footer_box a:hover{
    color: #333 !important;
    text-decoration: none !important;
    transition: all .0s;
}

.dropdown-menu{
    cursor: pointer;
}
.application_sort_by{
    margin-bottom: 0;
}