<!-- <section id="">
  <div id="contractor-signup">
    <div class="container">
      <div class="row">
        <div class="col-sm-100">
          <div class="contractor_signup">
            <h2>ExperIS <span class="text_pink">PROFILE</span></h2>
            <ul class="breadcomb margin_right_5px">
              <li><a href="javascript:void(0)" class="hover_text_pink">Home</a></li>
              <li class="right_arrow text_pink"> > </li>
              <li class="active">PROFILE</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="recruiter_profile_content_part">
      <div class="row">
        <div class="col-sm-25 col-md-20">
          <img src="./assets/images/experis.png" alt="" title="" class="img-responsive">
        </div>
        <div class="col-sm-75 col-md-80">
          <div class="web_email_content">
            <p><span>Website</span> {{webAddress}}</p>
            <p><span>Email</span> {{email}}</p>
            <p><span>Size</span> {{companySizeName}}
            </p>
            <p><span>Location</span> {{companyAdd}}</p>
            <p><span></span> <span class="text_manage">{{companyProfileView?.companyDescription}}</span></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-100">
          <div class="recruiter_profile_social">
            <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="javascript:void(0)"><i class="fa fa-rss" aria-hidden="true"></i></a>
            <a href="javascript:void(0)"><i class="fa fa-laptop" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-100">
        <div class="latest_contarctor_profile">
          <h3>Latest Contracts</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class=" col-md-33 col-sm-33">
        <div class="my_applications_box">
          <div class="header_top">
            <img src="./assets/images/location-map.png" alt="ads" title="ads" class="img-responsive">
            <p><span>15</span> Miles from Home</p>
          </div>
          <div class="application_box_contant">
            <img src="./assets/images/application1.png" alt="ads" title="ads" class="img-responsive">
            <h2>Retention Marketing Manager</h2>
          </div>
          <div class="application_box_contant2">
            <p><span>Location:</span> Basingstoke, Hampshire</p>
            <p><span>Rate:</span> £200 - £260 p/d</p>
            <p><span>Start Date:</span> 10/07/2017</p>
            <p><span>Duration:</span> 6 Months</p>
            <p class="full_contant">Xcede are currently seeking a contract Marketing Manager for a 6 Month Contract with a leading UK brand.
              <br> Focusing on Retention you will be providing maternity cover...</p>
          </div>
          <div class="footer_box">
            <div class="pull-left social_box_footer">
              <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
            <div class="pull-right view_company">
              <a href="javascript:void(0)">Apply Now <i class="fa fa-plus plus_blue margin_left_20" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-34 col-sm-34">
        <div class="my_applications_box">
          <div class="header_top">
            <img src="./assets/images/location-map.png" alt="ads" title="ads" class="img-responsive">
            <p><span>45</span> Miles from Home</p>
          </div>
          <div class="application_box_contant">
            <img src="./assets/images/application2.png" alt="ads" title="ads" class="img-responsive">
            <h2>Cyber Security Specialist</h2>
          </div>
          <div class="application_box_contant2">
            <p><span>Location:</span> Basingstoke, Hampshire</p>
            <p><span>Rate:</span> £200 - £260 p/d</p>
            <p><span>Start Date:</span> 10/07/2017</p>
            <p><span>Duration:</span> 6 Months</p>
            <p class="full_contant">Xcede are currently seeking a contract Marketing Manager for a 6 Month Contract with a leading UK brand.
              <br> Focusing on Retention you will be providing maternity cover...</p>
          </div>
          <div class="footer_box">
            <div class="pull-left social_box_footer">
              <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
            <div class="pull-right view_company">
              <a href="javascript:void(0)">Apply Now <i class="fa fa-plus plus_blue margin_left_20" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-33 col-sm-33">
        <div class="my_applications_box">
          <div class="header_top">
            <img src="./assets/images/location-map.png" alt="ads" title="ads" class="img-responsive">
            <p><span>60</span> Miles from Home</p>
          </div>
          <div class="application_box_contant">
            <img src="./assets/images/application3.png" alt="ads" title="ads" class="img-responsive">
            <h2>ION Marketview</h2>
          </div>
          <div class="application_box_contant2">
            <p><span>Location:</span> Basingstoke, Hampshire</p>
            <p><span>Rate:</span> £200 - £260 p/d</p>
            <p><span>Start Date:</span> 10/07/2017</p>
            <p><span>Duration:</span> 6 Months</p>
            <p class="full_contant">Xcede are currently seeking a contract Marketing Manager for a 6 Month Contract with a leading UK brand.
              <br> Focusing on Retention you will be providing maternity cover...</p>
          </div>
          <div class="footer_box">
            <div class="pull-left social_box_footer">
              <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
            <div class="pull-right view_company">
              <a href="javascript:void(0)">Apply Now <i class="fa fa-plus plus_blue margin_left_20" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-100">
        <div class="show_more_application">
          <a href="javascript:void(0)" class="btn-primary width_280px  hover_white_pluse"><span>SHOW ALL JOBS</span> <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
 -->
<section id="min_height" class="margin_top_40">
  <!--navigation top end-->
  <!--contractor login-->
  <div class="container">
    <div class="row">
      <div class="col-sm-70">
        <div class="contractor_signup recruiter_signup  befourlogin_fontsize">
          <h2 class="font_capitalizs">My <span class="text_pink">PROFILE</span></h2>
          <ul class="breadcomb color_active">
            <li><a href="javascript:void(0);" [routerLink]="['../recruiter-home']">Home</a></li>
            <li class="right_arrow text_pink">&gt;</li>
            <li class="active">Profile</li>
          </ul>
        </div>
      </div>
      <!-- <div class="col-sm-30">
                        <div class="your_options_profile your_options_profile_options">
                            <div class="dropdown">
                                <button class="" type="button" (click)="showSearchOptionFlag = !showSearchOptionFlag">
                                    Your Options
                                </button>
                                <ul class="dropdown-menu" [ngClass]="showSearchOptionFlag == true ? 'display_block' : 'display_none'">
                                    <li *ngIf="contractorData && contractorData?.uploadCV && contractorData?.uploadCV?.length > 0"><a href="{{contractorData?.uploadCV[0]['attachment_url']}}/{{contractorData?.uploadCV[0]['attachment_name']}}">Download CV</a></li>
                                    <li *ngIf="contractorData && contractorData?.uploadCV && contractorData?.uploadCV?.length == 0"><a href="javascript:void(0)">Download CV</a></li>
                                    <li><a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Email Contractor</a></li>
                                    <li *ngIf="contractorData?.is_watched == 0" (click)="watchContractor()"><a href="javascript:void(0)">Watch Contractor</a></li>
                                    <li *ngIf="contractorData?.is_watched == 1" (click)="unwatchContractor()"><a href="javascript:void(0)">Unwatch Contractor</a></li>
                                    <li><a (click)="showShareProfileBox = !showShareProfileBox"  href="javascript:void(0)" id="send_search">Share Profile <i class="fa fa-plus plus_blue text_pink" aria-hidden="true" ></i></a>
                                        <div class="home_page_inquery">
                                            <div id="message_send" [ngClass]="showShareProfileBox == true ? 'display_block' : 'display_none'">
                                                <div class="after_login_menu">
                                                    <input type="text" placeholder="Enter Email Here" class="enter_border" [(ngModel)]="emailContractor" name="emailContractor">
                                                    <textarea placeholder="Message" class="enter_border" [(ngModel)]="messageValue" name="messageValue"></textarea>
                                                    <a href="javascript:void(0)" class="btn-primary hover_text_pink hover_white_pluse width_280px" (click)="shareContractorProfile()"><span>Share Search</span> <i class="fa fa-plus plus_blue text_pink" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
    </div>
  </div>
  <br/>
  <br/>
  <div class="container">
    <div class="row">
      <div class="col-sm-50">
        <div class="recruiter_view_profile_left">
          <h2>{{companyProfileView?.companyDetails?.companyName}}</h2>
          <!-- <p><span>PHP</span></p>
                            <p><span *ngIf="contractorData?.dailyHourlyValue == 'daily'">£{{contractorData?.rate_min}} - £{{contractorData?.rate_max}}</span>
                            <span *ngIf="contractorData?.dailyHourlyValue == 'hourly'">£{{contractorData?.contractor_rate_min_hour}} - £{{contractorData?.contractor_rate_max_hr}}</span> Commutable <span class="pink_color">|</span> <span *ngIf="contractorData?.contractor_daily_hourly_value_relocatable == 'daily'">£{{contractorData?.contractor_rate_min_relocatable}} - £{{contractorData?.contractor_rate_max_relocatable}}</span> 
                            <span *ngIf="contractorData?.contractor_daily_hourly_value_relocatable == 'hourly'">£{{contractorData?.contractor_rate_min_relocatable_hr}} - £{{contractorData?.contractor_rate_max_relocatable_hr}}</span>
                        ReLOCatable</p> -->
        </div>
        <div class="recruiter_view_profile_left2">
          <p><span>Website:</span> {{webAddress ? webAddress : 'N/A'}}</p>
          <p><span>Email:</span> {{email ? email : 'N/A'}}</p>
          <p><span>Size:</span> {{companySizeName ? companySizeName : 'N/A'}}</p>
        </div>
        <!-- <div class="recruiter_view_profile_left3">
                            <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;<span style="font-size: 14px">{{contractorData?.gitHubWebAddress ? contractorData?.gitHubWebAddress : 'N/A'}}</span></a><br/>
                            <a href="javascript:void(0)"><i class="fa fa-laptop" aria-hidden="true"></i>&nbsp;<span style="font-size: 14px">{{contractorData?.linkedinWebAddress ? contractorData?.linkedinWebAddress : 'N/A'}}</span></a>
                        </div> -->
        <div class="recruiter_view_profile_left3">
          <a href="javascript:void(0)" [routerLink]="['/recruiter/profile']"> <i class="fa fa-laptop" aria-hidden="true"></i></a> 
          <a href="javascript:void(0)" [routerLink]="['/recruiter/profile']"> <i class="fa fa-rss" aria-hidden="true"></i></a> 
          <a href="javascript:void(0)" [routerLink]="['/recruiter/profile']"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>

        <div class="profile_my_work">
          <h3>Address</h3>
          <p *ngIf="companyProfileView?.companyDetails?.addressLine1 && companyProfileView?.companyDetails?.addressLine2 && companyProfileView?.companyDetails?.city && companyProfileView?.companyDetails?.country && companyProfileView?.companyDetails?.telephone">{{companyProfileView?.companyDetails?.addressLine1}} {{companyProfileView?.companyDetails?.addressLine2}}, {{companyProfileView?.companyDetails?.city}}, {{companyProfileView?.companyDetails?.country}}, {{companyProfileView?.companyDetails?.telephone}}</p>
          <!-- <p *ngIf="companyProfileView?.companyDetails?.addressLine2">{{companyProfileView?.companyDetails?.addressLine2}}</p>
          <p *ngIf="companyProfileView?.companyDetails?.city">{{companyProfileView?.companyDetails?.city}}</p>
          <p *ngIf="companyProfileView?.companyDetails?.country">{{companyProfileView?.companyDetails?.country}}</p>
          <p *ngIf="companyProfileView?.companyDetails?.telephone">{{companyProfileView?.companyDetails?.telephone}}</p> -->
          <p *ngIf="!companyProfileView?.companyDetails?.addressLine1 && !companyProfileView?.companyDetails?.addressLine2 && !companyProfileView?.companyDetails?.city && !companyProfileView?.companyDetails?.country && !companyProfileView?.companyDetails?.telephone">N/A</p>
          <h3>COMPANY DESCRIPTION </h3>
          <p>{{companyProfileView?.companyDescription ? companyProfileView?.companyDescription : 'N/A'}}</p>
          <!-- <div class="add_sub_skills margin_bottom_none">
            <p *ngIf="keySkills.length == 0">N/A</p>
            <p *ngIf="keySkills.length > 0"> <a href="javascript:void(0)" *ngFor="let item of keySkills">{{item}} 
                                </a></p>
          </div> -->
        </div>
      </div>
      <div class="col-sm-50">
        <div class="recruiter_view_profile_right">
          <!-- <h5>Availability</h5>
          <p>{{contractorData?.availability ? contractorData?.availability : 'N/A'}}</p>
          <div class="graph_img">
            <span>10</span> Days
          </div> -->
          <div style="clear: both; margin-bottom: 10px;"></div>
          <img class="img-responsive" [src]="companyProfileView && companyProfileView?.profileimage && companyProfileView?.profileimage.length > 0 && companyProfileView?.profileimage[0] ? companyProfileView?.profileimage[0]?.attachment_url+'/' +  companyProfileView?.profileimage[0]?.attachment_name : './assets/images/profile-pik.png'" alt="ads">
          <!-- <p class="font_size14">My Notice Period is </p>
          <h3>{{contractorData?.notice_period ? contractorData?.notice_period : 'N/A'}}</h3>
          <p class="font_size12">I am happy to use my notice period : {{contractorData?.happy_notice ? contractorData?.happy_notice : 'N/A'}}</p> -->
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="profile_maps">
    <div id="viewContractorProfile"></div>
  </div> -->
<!--   <div class="container">
    <div class="row">
      <div class="col-sm-100">
        
      </div>
    </div>
  </div> -->
</section>
