<div class="alert alert-success margin-tp18" *ngIf="successMsgFlag">
            <a href="javascript:void(0)" class="close" title="close" (click)="successMsgFlag = false;">×</a> Password reset link has been sent to your registered email.
          </div>
<div class="errorbox" *ngIf="(f.form.controls.email?.hasError('required') || f.form.controls.email?.hasError('pattern')) && formSubmittedFlag && !errorMsg">
  <b>The following error(s) occured:</b>
  <br>
  <li *ngIf="f.form.controls.email?.hasError('required')">Please enter an email address</li>
  <li *ngIf="f.form.controls.email?.hasError('pattern')">Valid Email required</li>
</div>
<div class="errorbox" *ngIf="errorMsg">
  <b>The following error(s) occured:</b>
  <br>
  <li >{{errorMsg}}</li>
</div>

<div class="widecol w2 forgetPassWord">
  <span class="lost-passwd">Password Reset <span class="lost-coll">:</span></span>
  <span class="required-fld"><span class="required-sign">*</span> required field. </span>
  <span class="forgot-uh-cnt upgrade-account-content-wrap">
                                    <b>Uh Oh! Forgotten your Password? </b>
                    No problem, just enter the email address you used to set up your account below, hit the reset button and 
                    we wil send you everything you need to get back into your account. 
                 
                <span class="password_form">
                    <form #f="ngForm" (ngSubmit)="forgotPasswordClicked(f)">
                        <input type="hidden" name="mode" value="reset_psw">
                        <span class="acc-option"><label for="email">Enter your email address<span>*</span></label>
  </span>
  <span class="inp-auto auto186"> <span>
                                <input class="emailfield inpfocus2" type="text" name="email" [(ngModel)]="email" required>
                            </span> </span>
  <div class="upgrade-form">
    <span class="lost-passwd-foot">
                                            <b>Still having trouble?</b> 
                     
                    Just head over to our 
                    <a class="lost-coll" href="javascript:void(0)">Contact</a> page and get in touch directly. </span>
    <input type="Submit" class="upgrade-button" name="submit" value="Reset">
  </div>
  </form>
  </span>
  </span>
</div>
