<div id="main" class="clearfix add_credits_page lost_p">
    <div class="ribbon-account-text">
        <h2 class="ribbon add-credit-head"><p>Forgotten your Password?</p></h2>
    </div>
    <div id="content" class="content_expand add_credits_content">
    <div class="widecol w2 forgetPassWord">
        <div class="errorbox" *ngIf="emailIdFlag"><b>The following error(s) occured:</b><br> 
                        <li>Email id is required.</li>
                        
                    </div>
                    <div class="errorbox" *ngIf="WSErrorMsg"><b></b><br> 
                        <li>{{WSErrorMsg}}</li>
                        
                    </div>

                <span class="lost-passwd">
                    Password Reset <span class="lost-coll">:</span>
                </span>
               <span class="required-fld"><span class="required-sign">*</span> required field. </span>
                    <form action="" method="post">
                    <span class="forgot-uh-cnt upgrade-account-content-wrap">
                        <span class="pswd-text"><b>Uh Oh! Forgotten your Password? </b>
                            No problem, just enter the email address you used to set up your account below, hit the reset button and 
                            we wil send you everything you need to get back into your account. 
                        </span>
                        <span class="password_form">
                            
                            <input type="hidden" name="mode" value="reset_psw" />
                            <span class="acc-option">
                                <label for="email">Enter your email address<span>*</span></label>
                            </span>
                            <span class="inp-auto auto186"> 
                                <span>  
                                    <input class="emailfield inpfocus2" [(ngModel)]="emailId" type="text" name="email" /></span> 
                            </span>
                        </span> 
                    </span>
                    <div class="upgrade-form">
                        <span class="lost-passwd-foot">
                            <b>Still having trouble?</b> 
                                 Just head over to our 
                            <a class="lost-coll" href="https://stage.contractrecruit.co.uk/contact">Contact</a> page and get in touch directly. 
                        </span>
                        <input type="Submit" (click)="submitEmailId()" class="upgrade-button" name="submit" value="Reset" />
                    </div>
                    </form>
    </div>
    </div>
    <div class="ribbon3">
        <p><b>Thank</b> You.</p>
    </div>
</div>
