<section id="heading_breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 hidden-xs">
        <h2>Contract<span>Hub</span> News</h2>
      </div>
      <div class="col-md-6 col-sm-12">
        <ul class="bread-crumbs">
          <li><a href="https://aws.contractrecruit.co.uk/">Home</a></li>
          <li><a href="https://aws.contractrecruit.co.uk/contractors/contract-hub">ContractHub</a></li>
          <li><a href="https://aws.contractrecruit.co.uk/news">News</a></li>
          <li class="active"><a href="javascript:void(0)">News Article</a></li>
        </ul>
        <!-- /.bread-crumbs -->
      </div>
    </div>
  </div>
</section>
<!-- /#page-title -->
<section id="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <span class="book-icon" aria-hidden="true">
                        <svg version="1.1" id="Layer_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="73.1 0 877.7 768" enable-background="new 73.1 0 877.7 768" xml:space="preserve">
                        <path d="M512,768c-4.8,0-10.3-1.4-14.4-4.1c-41.1-26.1-122.1-50.7-205-50.7c-69.3,0-135.8,32.9-181,52.8c-3.4,1.4-6.9,2.1-11,2.1
                            c-5.5,0-10.3-1.4-15.1-4.8c-7.5-4.8-12.3-13.7-12.3-22.6V67.9C73.1,59,189,0,292.6,0C405.7,0,512,54.9,512,54.9S618.3,0,731.4,0
                            C835,0,950.9,59,950.9,67.9v672.7c0,8.9-4.8,17.8-12.3,22.6c-4.8,2.7-9.6,4.8-15.1,4.8c-3.4,0-7.5-0.7-11-2.1
                            c-45.9-19.9-111.8-52.8-181-52.8c-83,0-163.2,24-205,50.7C522.3,766.6,516.8,768,512,768 M566.9,630.9c0,0,54.9-27.4,137.1-27.4
                            c0,0,82.3,0,137.1,27.4V137.1C786.3,109.7,704,109.7,704,109.7c-82.3,0-137.1,27.4-137.1,27.4V630.9z M320,603.4
                            c82.3,0,137.1,27.4,137.1,27.4V137.1c0,0-54.9-27.4-137.1-27.4c0,0-82.3,0-137.1,27.4v493.7C237.7,603.4,320,603.4,320,603.4"></path>
                        </svg>
                    </span>
        <div class="left-sidebar-ad">
          <div class="rotaring-adds rotaring-full"><a href="https://www.sableinternational.com/accounting/l/contract-recruit/?utm_source=contract_recruit&amp;utm_campaign=contract_recruit_banners&amp;utm_medium=website_banner_120x600" target="_blank"> <img class="img-full" src="./newsArcle_files/3d1dc161836f3ea9f1c435abde992eae.gif" alt="Search results"></a></div>
        </div>
      </div>
      <div class="col-md-6">
        <main>
          <h3>Looking for your next contract? Try looking outside the capital…</h3>
          <ul class="page-meta news-border">
            <li><a href="javascript:void(0);"> 2 March 2017</a></li>
          </ul>
          <div class="post-img visible-xs">
            <img src="./newsArcle_files/f3b9cf00323b4d28b44d0014a8abfb9c.png" alt="advice Image">
          </div>
          <p>If you are looking for a new IT contract job, it might be worth casting your eye over opportunities in Bournemouth, Liverpool, or Brighton. Those are some of the fastest-growing tech hubs in the country, according to a new report, with the first two now outpacing London in terms of jobs created.
            <br>
            <br> It is fair to say that Bournemouth and Poole are starting from a much lower base, but still more than tripled, growing by 212% between 2014 and 2015. TheCityUK's Enabling Growth Across the UK report found that Liverpool had the next highest growth rate, doubling its tech-related jobs with an increase of 119%. Inner London came next, growing by 92%.
            <br>
            <br> The capital starts from a far higher base of course and the 252,000 people working within technology in central London is by far the highest of any location. It accounts, in fact, for around a third of all IT and tech jobs in the UK. The next biggest tech hub in term of jobs is Bristol and Bath, which provides just under 61,700 jobs.
            <br>
            <br> The findings follow Tech City’s earlier Tech Nation report from 2016, which found that 80% of tech clusters had experienced a growth in digital turnover, digital jobs, and advertised digital salaries. Southampton had the greatest growth in digital turnover during the early part of this decade, increasing by 180% between 2010 and 2014. This was followed by the hub of Truro, Redruth, and Camborne (which experienced a growth of 153%), and Dundee (129%). London came fourth with an increase in digital turnover of 101%.
            <br>
            <br> You might have other considerations such as location and family issues when it comes to deciding where you work. As a flexible contractor though, it might well be worth taking a look around the UK when looking for your next contract.
            <br>
            <br>
            <br>
          </p>
        </main>
        <div class="clearfix m-t-b-50 hidden-xs">
          <ul class="social-icons share-button-social pull-left" data-id="243">
            <li>
              <a href="https://www.facebook.com/sharer.php?u=https://aws.contractrecruit.co.uk/news/looking-for-your-next-contract-try-looking-outside-the-capital--243.html&amp;t=Looking%20for%20your%20next%20contract?%20Try%20looking%20outside%20the%20capital%E2%80%A6" target="_blank">
                <svg version="1.1" id="fb-main" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 92 192" enable-background="new 0 0 92 192" xml:space="preserve">
                  <path d="M61,192c-14,0-28,0-42,0c0-31.8,0-63.7,0-96c-6.8,0-12.9,0-19,0c0-11.3,0-22.7,0-34c6.3,0,12.5,0,19,0c0-8.5-0.2-16,0-23.5
                                            C19.8,13.6,35.8-1.1,58,0.1c9,0.4,18,0.1,27,0.1c2.3,0,4.5,0,6.7,0c0,10.7,0,20.6,0,30.9c-6.3,0-12.2-0.1-18.2,0
                                            c-6.7,0.1-11.1,3.2-11.7,9.3c-0.6,6.9-0.1,13.8-0.1,21.4c10.1,0,20,0,30.3,0c-1.3,11.8-2.6,23-3.9,34.5c-9.1,0-17.7,0-26.9,0
                                            c0,2.3,0,4.1,0,5.8c0,15,0,30,0,45C61.2,162,61.1,177,61,192z"></path>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/home?status=https://aws.contractrecruit.co.uk/news/looking-for-your-next-contract-try-looking-outside-the-capital--243.html" title="Share on Twitter" target="_blank">
                <svg version="1.1" id="tw-main" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                  <path d="M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411
                                            c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513
                                            c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101
                                            c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104
                                            c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194
                                            c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485
                                            c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z"></path>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://aws.contractrecruit.co.uk/news/looking-for-your-next-contract-try-looking-outside-the-capital--243.html" title="Share on LinkedIn" target="_blank">
                <svg version="1.1" id="li-main" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 181.6 170.3" enable-background="new 0 0 181.6 170.3" xml:space="preserve">
                  <path d="M181.2,105.6c-0.3-8.5-2.2-17.2-5-25.2c-9.7-28.2-51.7-39.2-72-9.9c-0.5,0.7-1.2,1.3-2.7,2.9c0-5.8,0-10.4,0-15
                                            c-12.3,0-24.1,0-36,0c0,37.4,0,74.5,0,111.8c12,0,23.8,0,36.2,0c0-2.2,0-4.1,0-6.1c0-21.2,0.1-42.3-0.1-63.5c0-3.9,1.3-6.5,4.1-9.1
                                            c5.9-5.4,13.3-5.8,20.6-6.3c10.7-0.8,18.9,7.1,18.9,17.9c0,20.5,0,41,0,61.5c0,1.8,0,3.6,0,5.5c12.3,0,24,0,36.3,0
                                            c0-2.1,0-3.9,0-5.7C181.4,144.9,181.9,125.2,181.2,105.6z"></path>
                  <path d="M3.9,170.3c12.1,0,23.8,0,35.8,0c0-37.4,0-74.4,0-111.8c-11.8,0-23.4,0-35.8,0C3.9,95.7,3.9,132.9,3.9,170.3z"></path>
                  <path d="M22,0C9.8-0.2,0,9.5,0,21.7c0,12,9.5,21.6,21.4,21.7c12.2,0.1,22-9.5,22-21.6C43.4,9.8,33.9,0.2,22,0z"></path>
                </svg>
              </a>
            </li>
          </ul>
          <a href="https://aws.contractrecruit.co.uk/news" class="cr-btn pull-right">Return to All Articles <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="post-img hidden-xs">
          <img src="./newsArcle_files/f3b9cf00323b4d28b44d0014a8abfb9c.png" alt="advice Image">
        </div>
        <ul id="aside-social-icons" class="social-icons news share-button-social" data-id="243">
          <li>
            <h6>Share this article</h6></li>
          <li>
            <a href="https://www.facebook.com/sharer.php?u=https://aws.contractrecruit.co.uk/news/looking-for-your-next-contract-try-looking-outside-the-capital--243.html&amp;t=Looking%20for%20your%20next%20contract?%20Try%20looking%20outside%20the%20capital%E2%80%A6" target="_blank">
              <svg version="1.1" id="fb-aside" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 92 192" enable-background="new 0 0 92 192" xml:space="preserve">
                <path d="M61,192c-14,0-28,0-42,0c0-31.8,0-63.7,0-96c-6.8,0-12.9,0-19,0c0-11.3,0-22.7,0-34c6.3,0,12.5,0,19,0c0-8.5-0.2-16,0-23.5
                                        C19.8,13.6,35.8-1.1,58,0.1c9,0.4,18,0.1,27,0.1c2.3,0,4.5,0,6.7,0c0,10.7,0,20.6,0,30.9c-6.3,0-12.2-0.1-18.2,0
                                        c-6.7,0.1-11.1,3.2-11.7,9.3c-0.6,6.9-0.1,13.8-0.1,21.4c10.1,0,20,0,30.3,0c-1.3,11.8-2.6,23-3.9,34.5c-9.1,0-17.7,0-26.9,0
                                        c0,2.3,0,4.1,0,5.8c0,15,0,30,0,45C61.2,162,61.1,177,61,192z"></path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/home?status=https://aws.contractrecruit.co.uk/news/looking-for-your-next-contract-try-looking-outside-the-capital--243.html" title="Share on Twitter" target="_blank">
              <svg version="1.1" id="tw-aside" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                <path d="M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411
                                        c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513
                                        c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101
                                        c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104
                                        c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194
                                        c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485
                                        c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z"></path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://aws.contractrecruit.co.uk/news/looking-for-your-next-contract-try-looking-outside-the-capital--243.html" title="Share on LinkedIn" target="_blank">
              <svg version="1.1" id="li-aside" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 181.6 170.3" enable-background="new 0 0 181.6 170.3" xml:space="preserve">
                <path d="M181.2,105.6c-0.3-8.5-2.2-17.2-5-25.2c-9.7-28.2-51.7-39.2-72-9.9c-0.5,0.7-1.2,1.3-2.7,2.9c0-5.8,0-10.4,0-15
                                        c-12.3,0-24.1,0-36,0c0,37.4,0,74.5,0,111.8c12,0,23.8,0,36.2,0c0-2.2,0-4.1,0-6.1c0-21.2,0.1-42.3-0.1-63.5c0-3.9,1.3-6.5,4.1-9.1
                                        c5.9-5.4,13.3-5.8,20.6-6.3c10.7-0.8,18.9,7.1,18.9,17.9c0,20.5,0,41,0,61.5c0,1.8,0,3.6,0,5.5c12.3,0,24,0,36.3,0
                                        c0-2.1,0-3.9,0-5.7C181.4,144.9,181.9,125.2,181.2,105.6z"></path>
                <path d="M3.9,170.3c12.1,0,23.8,0,35.8,0c0-37.4,0-74.4,0-111.8c-11.8,0-23.4,0-35.8,0C3.9,95.7,3.9,132.9,3.9,170.3z"></path>
                <path d="M22,0C9.8-0.2,0,9.5,0,21.7c0,12,9.5,21.6,21.4,21.7c12.2,0.1,22-9.5,22-21.6C43.4,9.8,33.9,0.2,22,0z"></path>
              </svg>
            </a>
          </li>
        </ul>
        <p id="aside-btn" class="visible-xs"><a href="https://aws.contractrecruit.co.uk/news" class="cr-btn">Return to All Articles <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></p>
        <div class="wm-right-sidebar-ad">
          <img src="./newsArcle_files/right-sidebar-ad-space.jpg" alt="Sidebar Add Space">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /#main-content -->
<section id="call_to_action">
  <div class="container">
    <div class="row">
      <form id="cta-form" action="https://aws.contractrecruit.co.uk/news/looking-for-your-next-contract-try-looking-outside-the-capital--243.html" method="post">
        <input type="hidden" name="cnt_newsletter" value="newsletter">
        <ul>
          <li class="col-md-6 col-sm-12 col-xs-12">
            <h3>Want More? <span>Sign up to our weekly newsletter</span></h3>
          </li>
          <li class="col-md-4 col-sm-7 col-xs-8">
            <input type="email" name="newsletteremail" id="glb-newsletter-textbox" required="" placeholder="ENTER YOUR EMAIL ADDRESS HERE..." onfocus="this.placeholder=&#39;&#39;" onblur="this.placeholder=&#39;ENTER YOUR EMAIL ADDRESS HERE...&#39;">
          </li>
          <li class="col-md-2 col-sm-5 col-xs-4">
            <button type="submit" class="cr-btn-blue" id="guides-go" name="guides-go" value="signup-now">sign up now
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </li>
        </ul>
      </form>
    </div>
  </div>
</section>
<section class="blog_posts_excerpts">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Related Articles</h4>
      </div>
    </div>
    <div class="row">
      <div class="hidden">1</div>
      <div class="col-md-4 ">
        <div class="blog-post">
          <div class="book">
            <a href="https://aws.contractrecruit.co.uk/news/looking-for-your-next-contract-try-looking-outside-the-capital--243.html" title="">
              <svg version="1.1" id="Layer_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 128 112" enable-background="new 0 0 128 112" xml:space="preserve">
                <path d="M64,112c-0.7,0-1.5-0.2-2.1-0.6c-6-3.8-17.8-7.4-29.9-7.4c-10.1,0-19.8,4.8-26.4,7.7c-0.5,0.2-1,0.3-1.6,0.3
                                c-0.8,0-1.5-0.2-2.2-0.7c-1.1-0.7-1.8-2-1.8-3.3V9.9C0,8.6,16.9,0,32,0c16.5,0,32,8,32,8s15.5-8,32-8c15.1,0,32,8.6,32,9.9V108
                                c0,1.3-0.7,2.6-1.8,3.3c-0.7,0.4-1.4,0.7-2.2,0.7c-0.5,0-1.1-0.1-1.6-0.3c-6.7-2.9-16.3-7.7-26.4-7.7c-12.1,0-23.8,3.5-29.9,7.4
                                C65.5,111.8,64.7,112,64,112 M72,92c0,0,8-4,20-4c0,0,12,0,20,4V20c-8-4-20-4-20-4c-12,0-20,4-20,4V92z M36,88c12,0,20,4,20,4V20
                                c0,0-8-4-20-4c0,0-12,0-20,4v72C24,88,36,88,36,88"></path>
              </svg>
            </a>
          </div>
          <!-- /.book -->
          <img src="./newsArcle_files/f3b9cf00323b4d28b44d0014a8abfb9c.png" alt="advice Image" height="120px">
          <!-- no-photo-available.jpg -->
          <h2 title="Looking for your next contract? Try looking outside the capital…">Looking for your next contract? Try...</h2>
          <p class="excerpt">If you are looking for a new IT contract job, it might be worth casting your eye over opportunities in Bournemouth, Liverpool, or Brighton. Those are some of the fastest-growing tech hubs in the...</p>
          <div class="blog-post-meta-wrap">
            <ul class="social-icons share-button-social" data-id="243">
              <li>
                <a href="https://www.facebook.com/sharer.php?u=https://aws.contractrecruit.co.uk/news/looking-for-your-next-contract-try-looking-outside-the-capital--243.html&amp;t=Looking%20for%20your%20next%20contract?%20Try%20looking%20outside%20the%20capital%E2%80%A6" target="_blank">
                  <svg version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 92 192" enable-background="new 0 0 92 192" xml:space="preserve">
                    <path d="M61,192c-14,0-28,0-42,0c0-31.8,0-63.7,0-96c-6.8,0-12.9,0-19,0c0-11.3,0-22.7,0-34c6.3,0,12.5,0,19,0c0-8.5-0.2-16,0-23.5
                                            C19.8,13.6,35.8-1.1,58,0.1c9,0.4,18,0.1,27,0.1c2.3,0,4.5,0,6.7,0c0,10.7,0,20.6,0,30.9c-6.3,0-12.2-0.1-18.2,0
                                            c-6.7,0.1-11.1,3.2-11.7,9.3c-0.6,6.9-0.1,13.8-0.1,21.4c10.1,0,20,0,30.3,0c-1.3,11.8-2.6,23-3.9,34.5c-9.1,0-17.7,0-26.9,0
                                            c0,2.3,0,4.1,0,5.8c0,15,0,30,0,45C61.2,162,61.1,177,61,192z"></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/home?status=https://aws.contractrecruit.co.uk/news/looking-for-your-next-contract-try-looking-outside-the-capital--243.html" title="Share on Twitter" target="_blank">
                  <svg version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                    <path d="M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411
                                            c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513
                                            c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101
                                            c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104
                                            c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194
                                            c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485
                                            c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z"></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://aws.contractrecruit.co.uk/news/looking-for-your-next-contract-try-looking-outside-the-capital--243.html" title="Share on LinkedIn" target="_blank">
                  <svg version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 181.6 170.3" enable-background="new 0 0 181.6 170.3" xml:space="preserve">
                    <path d="M181.2,105.6c-0.3-8.5-2.2-17.2-5-25.2c-9.7-28.2-51.7-39.2-72-9.9c-0.5,0.7-1.2,1.3-2.7,2.9c0-5.8,0-10.4,0-15
                                            c-12.3,0-24.1,0-36,0c0,37.4,0,74.5,0,111.8c12,0,23.8,0,36.2,0c0-2.2,0-4.1,0-6.1c0-21.2,0.1-42.3-0.1-63.5c0-3.9,1.3-6.5,4.1-9.1
                                            c5.9-5.4,13.3-5.8,20.6-6.3c10.7-0.8,18.9,7.1,18.9,17.9c0,20.5,0,41,0,61.5c0,1.8,0,3.6,0,5.5c12.3,0,24,0,36.3,0
                                            c0-2.1,0-3.9,0-5.7C181.4,144.9,181.9,125.2,181.2,105.6z"></path>
                    <path d="M3.9,170.3c12.1,0,23.8,0,35.8,0c0-37.4,0-74.4,0-111.8c-11.8,0-23.4,0-35.8,0C3.9,95.7,3.9,132.9,3.9,170.3z"></path>
                    <path d="M22,0C9.8-0.2,0,9.5,0,21.7c0,12,9.5,21.6,21.4,21.7c12.2,0.1,22-9.5,22-21.6C43.4,9.8,33.9,0.2,22,0z"></path>
                  </svg>
                </a>
              </li>
            </ul>
            <a href="https://aws.contractrecruit.co.uk/news/looking-for-your-next-contract-try-looking-outside-the-capital--243.html" title="" class="cr-btn">Read more <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
          </div>
        </div>
        <!-- /.blog-post -->
      </div>
      <div class="hidden">2</div>
      <div class="col-md-4 ">
        <div class="blog-post">
          <div class="book">
            <a href="https://aws.contractrecruit.co.uk/news/welsh-university-offers-the-first-undergraduate-fintech-course-242.html" title="">
              <svg version="1.1" id="Layer_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 128 112" enable-background="new 0 0 128 112" xml:space="preserve">
                <path d="M64,112c-0.7,0-1.5-0.2-2.1-0.6c-6-3.8-17.8-7.4-29.9-7.4c-10.1,0-19.8,4.8-26.4,7.7c-0.5,0.2-1,0.3-1.6,0.3
                                c-0.8,0-1.5-0.2-2.2-0.7c-1.1-0.7-1.8-2-1.8-3.3V9.9C0,8.6,16.9,0,32,0c16.5,0,32,8,32,8s15.5-8,32-8c15.1,0,32,8.6,32,9.9V108
                                c0,1.3-0.7,2.6-1.8,3.3c-0.7,0.4-1.4,0.7-2.2,0.7c-0.5,0-1.1-0.1-1.6-0.3c-6.7-2.9-16.3-7.7-26.4-7.7c-12.1,0-23.8,3.5-29.9,7.4
                                C65.5,111.8,64.7,112,64,112 M72,92c0,0,8-4,20-4c0,0,12,0,20,4V20c-8-4-20-4-20-4c-12,0-20,4-20,4V92z M36,88c12,0,20,4,20,4V20
                                c0,0-8-4-20-4c0,0-12,0-20,4v72C24,88,36,88,36,88"></path>
              </svg>
            </a>
          </div>
          <!-- /.book -->
          <img src="./newsArcle_files/9d9c524a06857575bca929239c5338ff.png" alt="advice Image" height="120px">
          <!-- no-photo-available.jpg -->
          <h2 title="Welsh university offers the first undergraduate FinTech course">Welsh university offers the first...</h2>
          <p class="excerpt">Last month, we reported that the University of Strathclyde was launching the UK’s first postgraduate course in financial technology. Now, Wrexham Glyndwr University has announced the first...</p>
          <div class="blog-post-meta-wrap">
            <ul class="social-icons share-button-social" data-id="242">
              <li>
                <a href="https://www.facebook.com/sharer.php?u=https://aws.contractrecruit.co.uk/news/welsh-university-offers-the-first-undergraduate-fintech-course-242.html&amp;t=Welsh%20university%20offers%20the%20first%20undergraduate%20FinTech%20course" target="_blank">
                  <svg version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 92 192" enable-background="new 0 0 92 192" xml:space="preserve">
                    <path d="M61,192c-14,0-28,0-42,0c0-31.8,0-63.7,0-96c-6.8,0-12.9,0-19,0c0-11.3,0-22.7,0-34c6.3,0,12.5,0,19,0c0-8.5-0.2-16,0-23.5
                                            C19.8,13.6,35.8-1.1,58,0.1c9,0.4,18,0.1,27,0.1c2.3,0,4.5,0,6.7,0c0,10.7,0,20.6,0,30.9c-6.3,0-12.2-0.1-18.2,0
                                            c-6.7,0.1-11.1,3.2-11.7,9.3c-0.6,6.9-0.1,13.8-0.1,21.4c10.1,0,20,0,30.3,0c-1.3,11.8-2.6,23-3.9,34.5c-9.1,0-17.7,0-26.9,0
                                            c0,2.3,0,4.1,0,5.8c0,15,0,30,0,45C61.2,162,61.1,177,61,192z"></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/home?status=https://aws.contractrecruit.co.uk/news/welsh-university-offers-the-first-undergraduate-fintech-course-242.html" title="Share on Twitter" target="_blank">
                  <svg version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                    <path d="M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411
                                            c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513
                                            c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101
                                            c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104
                                            c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194
                                            c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485
                                            c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z"></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://aws.contractrecruit.co.uk/news/welsh-university-offers-the-first-undergraduate-fintech-course-242.html" title="Share on LinkedIn" target="_blank">
                  <svg version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 181.6 170.3" enable-background="new 0 0 181.6 170.3" xml:space="preserve">
                    <path d="M181.2,105.6c-0.3-8.5-2.2-17.2-5-25.2c-9.7-28.2-51.7-39.2-72-9.9c-0.5,0.7-1.2,1.3-2.7,2.9c0-5.8,0-10.4,0-15
                                            c-12.3,0-24.1,0-36,0c0,37.4,0,74.5,0,111.8c12,0,23.8,0,36.2,0c0-2.2,0-4.1,0-6.1c0-21.2,0.1-42.3-0.1-63.5c0-3.9,1.3-6.5,4.1-9.1
                                            c5.9-5.4,13.3-5.8,20.6-6.3c10.7-0.8,18.9,7.1,18.9,17.9c0,20.5,0,41,0,61.5c0,1.8,0,3.6,0,5.5c12.3,0,24,0,36.3,0
                                            c0-2.1,0-3.9,0-5.7C181.4,144.9,181.9,125.2,181.2,105.6z"></path>
                    <path d="M3.9,170.3c12.1,0,23.8,0,35.8,0c0-37.4,0-74.4,0-111.8c-11.8,0-23.4,0-35.8,0C3.9,95.7,3.9,132.9,3.9,170.3z"></path>
                    <path d="M22,0C9.8-0.2,0,9.5,0,21.7c0,12,9.5,21.6,21.4,21.7c12.2,0.1,22-9.5,22-21.6C43.4,9.8,33.9,0.2,22,0z"></path>
                  </svg>
                </a>
              </li>
            </ul>
            <a href="https://aws.contractrecruit.co.uk/news/welsh-university-offers-the-first-undergraduate-fintech-course-242.html" title="" class="cr-btn">Read more <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
          </div>
        </div>
        <!-- /.blog-post -->
      </div>
      <div class="hidden">3</div>
      <div class="col-md-4  hidden-xs ">
        <div class="blog-post">
          <div class="book">
            <a href="https://aws.contractrecruit.co.uk/news/will-ir35-changes-send-it-contractors-packing-to-the-private-sector--241.html" title="">
              <svg version="1.1" id="Layer_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 128 112" enable-background="new 0 0 128 112" xml:space="preserve">
                <path d="M64,112c-0.7,0-1.5-0.2-2.1-0.6c-6-3.8-17.8-7.4-29.9-7.4c-10.1,0-19.8,4.8-26.4,7.7c-0.5,0.2-1,0.3-1.6,0.3
                                c-0.8,0-1.5-0.2-2.2-0.7c-1.1-0.7-1.8-2-1.8-3.3V9.9C0,8.6,16.9,0,32,0c16.5,0,32,8,32,8s15.5-8,32-8c15.1,0,32,8.6,32,9.9V108
                                c0,1.3-0.7,2.6-1.8,3.3c-0.7,0.4-1.4,0.7-2.2,0.7c-0.5,0-1.1-0.1-1.6-0.3c-6.7-2.9-16.3-7.7-26.4-7.7c-12.1,0-23.8,3.5-29.9,7.4
                                C65.5,111.8,64.7,112,64,112 M72,92c0,0,8-4,20-4c0,0,12,0,20,4V20c-8-4-20-4-20-4c-12,0-20,4-20,4V92z M36,88c12,0,20,4,20,4V20
                                c0,0-8-4-20-4c0,0-12,0-20,4v72C24,88,36,88,36,88"></path>
              </svg>
            </a>
          </div>
          <!-- /.book -->
          <img src="./newsArcle_files/2680f768830968bfdef96831fbdca878.png" alt="advice Image" height="120px">
          <!-- no-photo-available.jpg -->
          <h2 title="Will IR35 changes send IT contractors packing to the private sector?">Will IR35 changes send IT contractors...</h2>
          <p class="excerpt">The IR35 changes heading our way in April represent the biggest shake-up that the contracting workplace has seen perhaps since the Intermediaries Legislation was first introduced back in 2000....</p>
          <div class="blog-post-meta-wrap">
            <ul class="social-icons share-button-social" data-id="241">
              <li>
                <a href="https://www.facebook.com/sharer.php?u=https://aws.contractrecruit.co.uk/news/will-ir35-changes-send-it-contractors-packing-to-the-private-sector--241.html&amp;t=Will%20IR35%20changes%20send%20IT%20contractors%20packing%20to%20the%20private%20sector?" target="_blank">
                  <svg version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 92 192" enable-background="new 0 0 92 192" xml:space="preserve">
                    <path d="M61,192c-14,0-28,0-42,0c0-31.8,0-63.7,0-96c-6.8,0-12.9,0-19,0c0-11.3,0-22.7,0-34c6.3,0,12.5,0,19,0c0-8.5-0.2-16,0-23.5
                                            C19.8,13.6,35.8-1.1,58,0.1c9,0.4,18,0.1,27,0.1c2.3,0,4.5,0,6.7,0c0,10.7,0,20.6,0,30.9c-6.3,0-12.2-0.1-18.2,0
                                            c-6.7,0.1-11.1,3.2-11.7,9.3c-0.6,6.9-0.1,13.8-0.1,21.4c10.1,0,20,0,30.3,0c-1.3,11.8-2.6,23-3.9,34.5c-9.1,0-17.7,0-26.9,0
                                            c0,2.3,0,4.1,0,5.8c0,15,0,30,0,45C61.2,162,61.1,177,61,192z"></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/home?status=https://aws.contractrecruit.co.uk/news/will-ir35-changes-send-it-contractors-packing-to-the-private-sector--241.html" title="Share on Twitter" target="_blank">
                  <svg version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                    <path d="M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411
                                            c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513
                                            c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101
                                            c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104
                                            c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194
                                            c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485
                                            c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z"></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://aws.contractrecruit.co.uk/news/will-ir35-changes-send-it-contractors-packing-to-the-private-sector--241.html" title="Share on LinkedIn" target="_blank">
                  <svg version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 181.6 170.3" enable-background="new 0 0 181.6 170.3" xml:space="preserve">
                    <path d="M181.2,105.6c-0.3-8.5-2.2-17.2-5-25.2c-9.7-28.2-51.7-39.2-72-9.9c-0.5,0.7-1.2,1.3-2.7,2.9c0-5.8,0-10.4,0-15
                                            c-12.3,0-24.1,0-36,0c0,37.4,0,74.5,0,111.8c12,0,23.8,0,36.2,0c0-2.2,0-4.1,0-6.1c0-21.2,0.1-42.3-0.1-63.5c0-3.9,1.3-6.5,4.1-9.1
                                            c5.9-5.4,13.3-5.8,20.6-6.3c10.7-0.8,18.9,7.1,18.9,17.9c0,20.5,0,41,0,61.5c0,1.8,0,3.6,0,5.5c12.3,0,24,0,36.3,0
                                            c0-2.1,0-3.9,0-5.7C181.4,144.9,181.9,125.2,181.2,105.6z"></path>
                    <path d="M3.9,170.3c12.1,0,23.8,0,35.8,0c0-37.4,0-74.4,0-111.8c-11.8,0-23.4,0-35.8,0C3.9,95.7,3.9,132.9,3.9,170.3z"></path>
                    <path d="M22,0C9.8-0.2,0,9.5,0,21.7c0,12,9.5,21.6,21.4,21.7c12.2,0.1,22-9.5,22-21.6C43.4,9.8,33.9,0.2,22,0z"></path>
                  </svg>
                </a>
              </li>
            </ul>
            <a href="https://aws.contractrecruit.co.uk/news/will-ir35-changes-send-it-contractors-packing-to-the-private-sector--241.html" title="" class="cr-btn">Read more <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
          </div>
        </div>
        <!-- /.blog-post -->
      </div>
    </div>
    <div class="row">
      <a href="https://aws.contractrecruit.co.uk/news" id="more-article-btn" class="cr-btn hidden-xs">See More Articles <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </div>
    <div class="ad-space visible-xs">
      <img src="./newsArcle_files/right-sidebar-ad-space.jpg" alt="Sidebar Add Space">
    </div>
  </div>
</section>
