
          <div class="navigation_header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <nav style="height: 1px;" aria-expanded="false" id="bs-navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav category-navigation">
                <li class=""><a data-toggle="dropdown" class="dropdown-toggle" href="#">Job Search <span class="caret"></span> <img src="./assets/images/nev-right.png" alt="ads" title="ads" class="img-responsive mobile_rightarrow"> </a> </li>
                <li class=""><a data-toggle="dropdown" class="dropdown-toggle" href="#">IT Contractors <span class="caret"></span> <img src="./assets/images/nev-right.png" alt="ads" title="ads" class="img-responsive mobile_rightarrow"></a></li>
                <li class=""><a data-toggle="dropdown" class="dropdown-toggle" href="#">IT Recruiters <span class="caret pink"></span> <img src="./assets/images/nev-right.png" alt="ads" title="ads" class="img-responsive mobile_rightarrow"></a></li>
                <li class=""><a data-toggle="dropdown" class="dropdown-toggle" href="#">About ContractRecruit <span class="caret"></span> <img src="./assets/images/nev-right.png" alt="ads" title="ads" class="img-responsive mobile_rightarrow"></a></li>
              </ul>
            </nav>
          </div>
          <div class="worksmart_nev"><span>#</span>WorkSmart<span>PlayHard</span></div>
       