<ul id="services-nav-menu" class="clearfix">
            <li> <a href="#" class="hover">
              <div class="icon"> <img src="./assets/images/umbrella-companies-hover.png" alt="" title="" class="menu_bar"> </div>
              <div class="content">
                <h4>Umbrella Companies</h4>
                <p>Search our recommended Umbrella companies to find the one that best suits you.</p>
              </div>
              </a> </li>
            <li> <a href="#" class="">
              <div class="icon"> <img src="./assets/images/insurance-providers.png" alt="" title="" class="menu_bar"> </div>
              <div class="content">
                <h4>Insurance Providers</h4>
                <p>Need insurance? We have all the best IT contract insurance experts to hand.</p>
              </div>
              </a> </li>
            <li> <a href="#" class="">
              <div class="icon"> <img src="./assets/images/it-training.png" alt="" title="" class="menu_bar"> </div>
              <div class="content">
                <h4>IT Training</h4>
                <p>Stay ahead and upskill with some of the best IT training companies out there.</p>
              </div>
              </a> </li>
            <li> <a href="#" class="">
              <div class="icon"> <img src="./assets/images/accountancy-services.png" alt="" title="" class="menu_bar"> </div>
              <div class="content">
                <h4>Accountancy Services</h4>
                <p>Need help setting up a company or dealing with your accounts? Find it here.</p>
              </div>
              </a> </li>
          </ul>