<ul id="services-nav-menu" class="clearfix">
  <li *ngFor="let category of categoryData | slice:0:8" (click)="categoryClicked(category)">
    <a href="javascript:void(0)" class="hover">
      <div class="icon"> <img [src]="category.contract_hub_small_icon" alt="" title="" class="menu_bar" style="height:57px; width:57px;" onError="this.src='./assets/images/ContractMap-icon.png'"> </div>
      <div class="content">
        <h4>{{category.contract_hub_category_name}}</h4>
        <p>{{category.contract_hub_category_desc}}</p>
      </div>
    </a>
  </li>
  <!-- <li> <a href="javascript:void(0)" class="">
              <div class="icon"> <img src="./assets/images/insurance-providers.png" alt="" title="" class="menu_bar"> </div>
              <div class="content">
                <h4>Insurance Providers</h4>
                <p>Need insurance? We have all the best IT contract insurance experts to hand.</p>
              </div>
              </a> </li>
            <li> <a href="javascript:void(0)" class="">
              <div class="icon"> <img src="./assets/images/it-training.png" alt="" title="" class="menu_bar"> </div>
              <div class="content">
                <h4>IT Training</h4>
                <p>Stay ahead and upskill with some of the best IT training companies out there.</p>
              </div>
              </a> </li>
            <li> <a href="javascript:void(0)" class="">
              <div class="icon"> <img src="./assets/images/accountancy-services.png" alt="" title="" class="menu_bar"> </div>
              <div class="content">
                <h4>Accountancy Services</h4>
                <p>Need help setting up a company or dealing with your accounts? Find it here.</p>
              </div>
              </a> </li> -->
</ul>
