<section id="min_height">
  <!--navigation top end-->
  <!--contractor login-->
  <div id="contractor-signup">
    <div class="container">
      <div class="row">
        <div class="col-sm-100">
          <div class="contractor_signup befourlogin_fontsize">
            <h2 class="font_capitalizs">manage <span class="text_pink">PASSWORD</span></h2>
            <ul class="breadcomb">
              <li><a href="#" class="hover_text_pink">Home</a></li>
              <li class="right_arrow text_pink">&gt;</li>
              <li class="active">MANAGE PASSWORD</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-100">
          <div class="signup_form_section">
            <form (ngSubmit)="saveRecruiterPassword(saveRecruiterPassword)" #saveRecruiterPassword="ngForm">
              <div class="row">
                <div class="col-sm-100">
                  <div class="manage_top_buttons">
                    <ul>
                      <li><a href="javascript:void(0);" [routerLink]="['../manage-account']">Your Account</a></li>
                      <li><a href="javascript:void(0);" [routerLink]="['../profile']">Your Profile</a></li>
                      <li><a href="javascript:void(0);" [routerLink]="['../manage-user']">Manage Users</a></li>
                      <li class="active"><a href="javascript:void(0);">Manage Password</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job_search_keywords">
                <h2>Change Password</h2>
              </div>
              <div class="row">
                <div class="col-sm-100">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/old-password.png" alt="" title="" class="img-responsive"></div>
                      <input type="password" class="form-control box_padding_3 box_height_30" id="exampleInputEmail1" placeholder="Old Password" [(ngModel)]="oldPassword" name="oldPassword" [tooltip]="oldPasswordTooltip" required>
                      <tooltip-content #oldPasswordTooltip>
                        <span *ngIf="saveRecruiterPassword?.form && saveRecruiterPassword.form.controls && saveRecruiterPassword.form.controls.oldPassword?.valid && saveRecruiterPassword.form.controls.oldPassword?.touched" style="color: #C21F39">Old Password</span>
                        <span [hidden]="!saveRecruiterPassword.form.controls.oldPassword?.hasError('required')" style="color: #C21F39">Old Password is required.</span>
                        <!-- <span [hidden]="!saveRecruiterPassword.form.controls.oldPassword?.hasError('minlength')" style="color: #C21F39">Contractor First Name min length is 3.</span> -->
                        <!-- <span [hidden]="!saveRecruiterPassword.form.controls.oldPassword?.hasError('pattern')" style="color: #C21F39">Contractor First Name not valid!</span> -->
                      </tooltip-content>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-50">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/password-manag.png" alt="" title="" class="img-responsive"></div>
                      <input type="password" class="form-control box_padding_3 box_height_30" id="exampleInputEmail1" placeholder="New Password" [(ngModel)]="newPassword" name="newPassword" [tooltip]="newPasswordTooltip" required>
                      <tooltip-content #newPasswordTooltip>
                        <span *ngIf="saveRecruiterPassword?.form && saveRecruiterPassword.form.controls && saveRecruiterPassword.form.controls.newPassword?.valid && saveRecruiterPassword.form.controls.newPassword?.touched" style="color: #C21F39">New Password</span>
                        <span [hidden]="!saveRecruiterPassword.form.controls.newPassword?.hasError('required')" style="color: #C21F39">New Password is required.</span>
                        <!-- <span [hidden]="!saveRecruiterPassword.form.controls.newPassword?.hasError('minlength')" style="color: #C21F39">Contractor First Name min length is 3.</span> -->
                        <!-- <span [hidden]="!saveRecruiterPassword.form.controls.newPassword?.hasError('pattern')" style="color: #C21F39">Contractor First Name not valid!</span> -->
                      </tooltip-content>
                    </div>
                  </div>
                </div>
                <div class="col-sm-50">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/password-manag.png" alt="" title="" class="img-responsive"></div>
                      <input type="password" class="form-control box_padding_3 box_height_30" id="exampleInputEmail1" placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword" [tooltip]="confirmPasswordTooltip" required>
                      <tooltip-content #confirmPasswordTooltip>
                        <span *ngIf="saveRecruiterPassword?.form && saveRecruiterPassword.form.controls && saveRecruiterPassword.form.controls.confirmPassword?.valid && saveRecruiterPassword.form.controls.confirmPassword?.touched" style="color: #C21F39">Confirm Password</span>
                        <span [hidden]="!saveRecruiterPassword.form.controls.confirmPassword?.hasError('required')" style="color: #C21F39">Confirm Password is required.</span>
                        <!-- <span [hidden]="!saveRecruiterPassword.form.controls.confirmPassword?.hasError('minlength')" style="color: #C21F39">Contractor First Name min length is 3.</span> -->
                        <!-- <span [hidden]="!saveRecruiterPassword.form.controls.confirmPassword?.hasError('pattern')" style="color: #C21F39">Contractor First Name not valid!</span> -->
                      </tooltip-content>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-100">
                  <div class="sign_up_right_side"> 
                    <!-- <a href="#" class="btn-primary hover_text_pink hover_white_pluse width_180px">Save Changes --> 
                      <button class="btn-primary hover_text_pink hover_white_pluse width_180px" type="submit" >Save Changes
                      <i class="fa fa-plus plus_blue text_pink" aria-hidden="true"></i>
                    <!-- </a> --> 
                  </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
    <!--contractor login end-->
</section>
