.font_capitaliz {
    text-transform: uppercase !important;
}
.recruiter_profile_social{
	text-align: right;
	padding-right: 8px;
}

.recruiter_profile_social a i{

	font-size:23px;
    color: #ff0066;
    margin: 0 5px;
}

.latest_contarctor_profile h3{

	margin-top: 0px;
}

.label_box p span{
	color: #00ccff;
    display: inline-block;
    padding-right: 10px;
    width: 90px;
}