<div class="letest_news_box margin_bottom_10px">
                            <div class="book_mark" routerLink="../adviceDetail"><a href="javascript:void(0)"><img src="./assets/images/artical-message.png" alt="" title=""></a></div>
                            <img src="images/letest-post.png" alt="" title="" class="img-responsive">
                            <h5>IT Jobs going abroad a concern for Contractors</h5>
                            <p>IT jobs going abroad are a major concern for IT Contractors in the UK with foreign companies hiring heavily and leaving little... </p>
                            <div class="letest_news_footer"> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="javascript:void(0)" ><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> <a routerLink="../adviceDetail" href="javascript:void(0)" class="btn-primary news_read_more">READ MORE<i class="fa fa-plus plus_blue" aria-hidden="true"></i></a> </div>
                        </div>
                        <div class="more_services_div" > <a href="javascript:void(0)" class="btn-primary hover_white_pluse">READ MORE ADVICE <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a> </div>