.services_header .view_all_button:hover {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.5s ease 0s;
}

.letest_news_box h5 {
	height: 43px;
}

.letest_news_box p {
    height: 75px;
}