<section>
<div class="contractor_login">
  <h2 class="text-center font_size"><span>Already have an account?</span> Just login below</h2>
</div>
          <div class="alert alert-success margin-tp18" *ngIf="succesLoginFlag">
              <a href="javascript:void(0)" class="close" title="close">×</a>
              You are Log in <strong>succesfully!</strong>
          </div>
                    <div class="alert alert-danger margin-tp18" *ngIf="errorMsgFlag">
              <a href="javascript:void(0)" class="close" title="close">×</a>
             <strong>Error!</strong>  Your Email id is not Registered !!
          </div>
<div class="login_form_section">
  <!--   <form (onSubmit)="onLogin(loginF)" #loginF="ngForm"> -->
  <form #f="ngForm" (ngSubmit)="onLogin(f)">
    <div class="row">
      <div class="col-sm-50">
        <div class="form-group">
          <input type="email" name="email" class="form-control" id="email" placeholder="Email*" [(ngModel)]="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  [tooltip]="emailTooltip">
              <tooltip-content #emailTooltip>
                <span *ngIf="f?.form && f.form.controls && f.form.controls.email?.valid" style="color: white"> Email </span>
                <span [hidden]="!f.form.controls.email?.hasError('required')" style="color: white"> Email  is required!</span>
                 <span [hidden]="!f.form.controls.email?.hasError('pattern')" style="color:white">Email invalid!</span>
              </tooltip-content>
        </div>
      </div>
      <div class="col-sm-50">
        <div class="form-group">
          <div class="input-group">
            <input type="password" class="form-control" id="Password" placeholder="Password*" [(ngModel)]="password" name="password" required [tooltip]="passwordTooltip">
              <tooltip-content #passwordTooltip>
                <span *ngIf="f?.form && f.form.controls && f.form.controls.password?.valid" style="color:white"> Password </span>
                <span [hidden]="!f.form.controls.password?.hasError('required')" style="color: white"> Password  is required!</span>
              </tooltip-content>
          </div>
<!--           <tooltip-content #Password>
            <span *ngIf="!valid && Password" style="color: #C21F39">Password</span>
            <span *ngIf="!Password" style="color: #C21F39">Password is required.</span>
            <span *ngIf="Password && Password.length < 3" style="color: #C21F39">min length is 3.</span>
          </tooltip-content> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <div class="form-group"> <span class="add_value">{{number}} + {{number2}} =</span></div>
      
      </div>

      <div class="col-sm-40 col-md-42 col-xs-70">
        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="ARE YOU HUMAN ? *" [(ngModel)]="addNumber" name="addNumber" required>
        </div>
      </div>
      <span *ngIf="!valid && addNumber " style="color: #C21F39">{{errorMessage}} </span>
      <div class="col-sm-50" style="text-align: right;">
        <button type="submit" class="form-group form_login btn-default" > login <i class="fa fa-plus" aria-hidden="true"></i> </button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-100">
        <div class="form-group forgot_click_here"> FORGOT YOUR PASSWORD? <a href="#">CLICK HERE</a> </div>
      </div>
    </div>
  </form>
</div>
</section>
