#recuriter_logged_in_nav svg path {
    fill: #00ccff;
}
@media(max-width: 990px){
	#recuriter_logged_in_nav svg {
      margin-top: 8px
}

}

@media(max-width: 1024px){
	#after_login{

		padding: 20px 31px;
	}

}

.home_page_inquery{ width:100%; }
#inquerymaindiv .after_login_menu ul li{overflow: -webkit-paged-x;}

.icon-saved-search-img{
	background: url(../../assets/images/saved-search.jpg);
	width: 45px;
	height: 45px;
}
.icon-watch-list-img{
	background: url(../../assets/images/watch-list.jpg);
	width: 45px;
	height: 45px;
}
.icon-view-application-img{
	background: url(../../assets/images/view-application.jpg);
	width: 45px;
	height: 45px;
}
.counter {
    background: #09c;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: block;
    font-size: 12px;
    font-style: inherit;
    padding: 3px 0 0 0;
    text-align: center;
    margin: 0 auto;

    position: absolute;
	top: -27px;
	right: 17px;
	border: 2px solid #000;
}

#inquerymaindiv .navigation-lists li {
    padding: 24px 15px;
    /*margin: 15px;
    display: inline-block;*/
}