<div *ngIf="!loading">
  <div  class="letest_news_box" *ngFor="let news of newsList">
  <div class="book_mark" (click)="goToNews()"><a href="javascprit:void(0)"><img src="./assets/images/it-news.png"  alt="" title=""></a></div>
  <img src="{{news?.article_image}}" alt="" title="" class="img-responsive" onError="this.src='./assets/images/letest-news.png'" />
  <h5><strong>{{news.article_title}}</strong></h5>
  <p [innerHTML]="news.article_body | slice:0:100"> </p>
  <div class="letest_news_footer"> 


  	<!-- <a href="javascprit:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="javascprit:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="javascprit:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a>  -->

  	<share-buttons ></share-buttons>




  	<a href="javascprit:void(0)" (click)="goToNews(news)" class="btn-primary news_read_more">READ MORE<i class="fa fa-plus plus_blue" aria-hidden="true"></i></a> </div>
</div>  
</div>

<div  *ngIf="loading">
  <img src="./assets/images/bx_loader.gif">
</div>
