<header id="after_login">
  <div class="container">
    <div class="row">
      <div class="col-xs-14 col-sm-7 col-md-5" (click)="toggleMenu()">
        <div class="tongal_icon_bar"> <a href="javascript:void(0)" id="inquery_now_home"> <img src="./assets/images/menu-bar.png" alt="menu" title="menu" class="img-responsive"> </a> </div>
      </div>
      <div class="col-xs-86 col-sm-93 col-md-95">
        <div class="header_right_ads"> <a href="javascript:void(0)"> <img src="./assets/images/login-after-logo.png" alt="ads" title="ads" class="img-responsive"> </a> </div>
      </div>
    </div>
    <div class="home_page_inquery" *ngIf="showMenu">
      <div id="inquerymaindiv">
        <div class="after_login_menu">
          <ul>
            <li [routerLink]="['../contractor/viewProfile']">
              <a href="javascript:void(0)">Profile</a>
              <span class="icon-user-icon"></span>
            </li>
            <li [routerLink]="['../contractor/jobSearch']"><a href="javascript:void(0)">Search</a>
              <span class="icon-search2"></span>
            </li>
            <li [routerLink]="['../contractor/application']"><a href="javascript:void(0)">Applications</a>
              <span class="icon-applications"></span>
            </li>
            <li [routerLink]="['../contractor/jobSavedSearch']"><a href="javascript:void(0)">Saved Search</a>
              <span class="icon-search-plus"></span>
            </li>
            <li [routerLink]="['../contractor/hubHome']"><a href="javascript:void(0)"><b>Contract</b>Hub</a>
              <span class="icon-msg-icon"></span>
            </li>
            <li [routerLink]="['../contractor/viewProfile']"><a href="javascript:void(0)">Admin</a><span class="icon-gears"></span></li>
            <li [routerLink]="['../public']"><a href="javascript:void(0)">Logout</a><span class="icon-lock"></span></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <div class="row">
        <div style="padding: 50px">
            <button class="" [routerLink]="['../contractor/viewProfile']">Profile</button> 
            <button class=""  [routerLink]="['../contractor/jobSearch']">Search</button> 
            <button class=""  [routerLink]="['../contractor/application']">Applications</button> 
            <button class=""  [routerLink]="['../contractor/jobSavedSearch']">Saved Search</button> 
            <button class=""  [routerLink]="['../contractor/hubHome']">Contract-hub</button> 
            <button class="" [routerLink]="['../contractor/viewProfile']">Admin</button> 
            <button class=""  [routerLink]="['../public']">LogOut</button> 

              
        </div>

        
      </div> -->
  </div>
</header>
