<div class="services_header"> <img src="./assets/images/contractor-services-icon.png" alt="" title=""> <span>CONTRACTOR SERVICES</span> <a href="#"><img src="./assets/images/services-menu.png" alt="" title="" class="menu_bar"></a>
		    <div class="navigation_services">
			  <ul>
			    <li *ngFor="let category of categoryData" (click)="categoryClicked(category)"><a href="javascript:void(0)">{{category.contract_hub_category_name}}</a></li>
				 <!-- <li><a href="#">Insurance Providers</a></li>
				  <li><a href="#">IT Training</a></li>
				   <li><a href="#">Accountancy Services</a></li>
				    <li><a href="#">Mortgage Solutions</a></li>
					 <li><a href="#">CV Writing and Help</a></li>
					 <li><a href="#">Working Abroad</a></li>
					  <li><a href="#">MVL Advisors</a></li> -->
			  </ul>
			</div>
		   </div>