.swiper-slide li{margin: 0 60px;}
:host /deep/ .swiper-slide li p > p {
    color: #fff;
}

.letest_news_box p {
    height: 70px;
}

@media( max-width:767px){
	.letest_news_footer{

		margin-left:0px !important;
	}
	.letest_news_footer .news_read_more{

		margin-bottom:14px !important;
	}

	.advice_categories_search_area .nav > li > a{

		    padding: 5px 11px 0 !important;
	}

	.margin-tp{
	width: 100% !important;
    margin-bottom: 16px !important;
	}
	.hover_button{ 
		margin-top:10px;
	 }

	 .login_form_section li{

	 	width: 100%;
    	display: block;
    	margin-top:5px;
	 }

	 .advice_categories_search_area .nav > li > a{

	 	border:1px solid #a5a5a5 !important;
	 }
}