  <section>
    <!--navigation top end-->
    <!--contractor login-->
    <div id="contractor-signup">
      <div class="container">
        <div class="row">
          <div class="col-sm-100">
            <div class="contractor_signup my_application_headding">
              <h2>my <span>Applications</span></h2>
              <ul class="breadcomb">
                <li><a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#">Home</a></li>
                <li class="right_arrow">&gt;</li>
                <li class="active">APPLICATIONS</li>
              </ul>
              <div class="pull-right applied_jobs">You have applied to <span>22</span> job(s)</div>
            </div>
            <div class="pull-right application_sort_by"> <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#" class="dropdown-toggle btn-primary font_capitaliz hover_white_pluse" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort By <i class="fa fa-sort-desc  plus_blue" aria-hidden="true"></i>
              </a>
              <ul class="dropdown-menu">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--contractor login end-->
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class=" col-md-33 col-sm-33">
          <div class="my_applications_box">
            <div class="header_top"> 
			  <img src="./application_files/location-map.png" alt="ads" title="ads" class="img-responsive">
              <p><span>15</span> Miles from Home</p>
            </div>
			<div class="application_box_contant">
			  <img src="./application_files/application1.png" alt="ads" title="ads" class="img-responsive">
			  <h2>Retention Marketing Manager</h2>
			</div>
			<div class="application_box_contant2">
			  <p><span>Location:</span>			Basingstoke, Hampshire</p>
			  <p><span>Rate:</span> 			£200 - £260 p/d</p>
			  <p><span>Start Date:</span> 	10/07/2017</p>
			  <p><span>Duration:</span> 			6 Months</p>
			  <p class="full_contant">Xcede are currently seeking a contract Marketing Manager for a 6 Month Contract with a leading UK brand. <br>
Focusing on Retention you will be providing maternity cover...</p>
			</div>
			<div class="footer_box">
			  <div class="pull-left social_box_footer">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			  </div>
			  <div class="pull-right view_company" routerLink="../companyProfile">
			    <a href="javascript:void(0)">View Company <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a>
			  </div>
			</div>
          </div>
        </div>
        <div class="col-md-34 col-sm-34">
		  <div class="my_applications_box">
            <div class="header_top"> 
			  <img src="./application_files/location-map.png" alt="ads" title="ads" class="img-responsive">
              <p><span>45</span> Miles from Home</p>
            </div>
			<div class="application_box_contant">
			  <img src="./application_files/application2.png" alt="ads" title="ads" class="img-responsive">
			  <h2>Cyber Security Specialist</h2>
			</div>
			<div class="application_box_contant2">
			  <p><span>Location:</span>			Basingstoke, Hampshire</p>
			  <p><span>Rate:</span> 			£200 - £260 p/d</p>
			  <p><span>Start Date:</span> 	10/07/2017</p>
			  <p><span>Duration:</span> 			6 Months</p>
			  <p class="full_contant">Xcede are currently seeking a contract Marketing Manager for a 6 Month Contract with a leading UK brand. <br>
Focusing on Retention you will be providing maternity cover...</p>
			</div>
			<div class="footer_box">
			  <div class="pull-left social_box_footer">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			  </div>
			  <div class="pull-right view_company">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#">View Company <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a>
			  </div>
			</div>
          </div>
		</div>
        <div class="col-md-33 col-sm-33">
		  <div class="my_applications_box">
            <div class="header_top"> 
			  <img src="./application_files/location-map.png" alt="ads" title="ads" class="img-responsive">
              <p><span>60</span> Miles from Home</p>
            </div>
			<div class="application_box_contant">
			  <img src="./application_files/application3.png" alt="ads" title="ads" class="img-responsive">
			  <h2>ION Marketview</h2>
			</div>
			<div class="application_box_contant2">
			  <p><span>Location:</span>			Basingstoke, Hampshire</p>
			  <p><span>Rate:</span> 			£200 - £260 p/d</p>
			  <p><span>Start Date:</span> 	10/07/2017</p>
			  <p><span>Duration:</span> 			6 Months</p>
			  <p class="full_contant">Xcede are currently seeking a contract Marketing Manager for a 6 Month Contract with a leading UK brand. <br>
Focusing on Retention you will be providing maternity cover...</p>
			</div>
			<div class="footer_box">
			  <div class="pull-left social_box_footer">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			  </div>
			  <div class="pull-right view_company">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#">View Company <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a>
			  </div>
			</div>
          </div>
		</div>
      </div>
      <app-ad-space></app-ad-space>
	  <!-- <div class="row">
	    <div class="col-sm-33">
		  <div class="ad_space">
		    <img src="./application_files/ad-space.png" alt="ads" title="ads" class="img-responsive">
		  </div>
		</div>
		<div class="col-sm-34">
		  <div class="ad_space">
		    <img src="./application_files/ad-space.png" alt="ads" title="ads" class="img-responsive">
		  </div>
		</div>
		<div class="col-sm-33">
		  <div class="ad_space">
		    <img src="./application_files/ad-space.png" alt="ads" title="ads" class="img-responsive">
		  </div>
		</div>
	  </div> -->
	  <div class="row">
        <div class=" col-md-33 col-sm-33">
          <div class="my_applications_box">
            <div class="header_top"> 
			  <img src="./application_files/location-map.png" alt="ads" title="ads" class="img-responsive">
              <p><span>15</span> Miles from Home</p>
            </div>
			<div class="application_box_contant">
			  <img src="./application_files/application1.png" alt="ads" title="ads" class="img-responsive">
			  <h2>Retention Marketing Manager</h2>
			</div>
			<div class="application_box_contant2">
			  <p><span>Location:</span>			Basingstoke, Hampshire</p>
			  <p><span>Rate:</span> 			£200 - £260 p/d</p>
			  <p><span>Start Date:</span> 	10/07/2017</p>
			  <p><span>Duration:</span> 			6 Months</p>
			  <p class="full_contant">Xcede are currently seeking a contract Marketing Manager for a 6 Month Contract with a leading UK brand. <br>
Focusing on Retention you will be providing maternity cover...</p>
			</div>
			<div class="footer_box">
			  <div class="pull-left social_box_footer">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			  </div>
			  <div class="pull-right view_company">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#">View Company <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a>
			  </div>
			</div>
          </div>
        </div>
        <div class="col-md-34 col-sm-34">
		  <div class="my_applications_box">
            <div class="header_top"> 
			  <img src="./application_files/location-map.png" alt="ads" title="ads" class="img-responsive">
              <p><span>45</span> Miles from Home</p>
            </div>
			<div class="application_box_contant">
			  <img src="./application_files/application2.png" alt="ads" title="ads" class="img-responsive">
			  <h2>Cyber Security Specialist</h2>
			</div>
			<div class="application_box_contant2">
			  <p><span>Location:</span>			Basingstoke, Hampshire</p>
			  <p><span>Rate:</span> 			£200 - £260 p/d</p>
			  <p><span>Start Date:</span> 	10/07/2017</p>
			  <p><span>Duration:</span> 			6 Months</p>
			  <p class="full_contant">Xcede are currently seeking a contract Marketing Manager for a 6 Month Contract with a leading UK brand. <br>
Focusing on Retention you will be providing maternity cover...</p>
			</div>
			<div class="footer_box">
			  <div class="pull-left social_box_footer">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			  </div>
			  <div class="pull-right view_company">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#">View Company <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a>
			  </div>
			</div>
          </div>
		</div>
        <div class="col-md-33 col-sm-33">
		  <div class="my_applications_box">
            <div class="header_top"> 
			  <img src="./application_files/location-map.png" alt="ads" title="ads" class="img-responsive">
              <p><span>60</span> Miles from Home</p>
            </div>
			<div class="application_box_contant">
			  <img src="./application_files/application3.png" alt="ads" title="ads" class="img-responsive">
			  <h2>ION Marketview</h2>
			</div>
			<div class="application_box_contant2">
			  <p><span>Location:</span>			Basingstoke, Hampshire</p>
			  <p><span>Rate:</span> 			£200 - £260 p/d</p>
			  <p><span>Start Date:</span> 	10/07/2017</p>
			  <p><span>Duration:</span> 			6 Months</p>
			  <p class="full_contant">Xcede are currently seeking a contract Marketing Manager for a 6 Month Contract with a leading UK brand. <br>
Focusing on Retention you will be providing maternity cover...</p>
			</div>
			<div class="footer_box">
			  <div class="pull-left social_box_footer">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			  </div>
			  <div class="pull-right view_company">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#">View Company <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a>
			  </div>
			</div>
          </div>
		</div>
      </div>
	  <div class="row">
        <div class=" col-md-33 col-sm-33">
          <div class="my_applications_box">
            <div class="header_top"> 
			  <img src="./application_files/location-map.png" alt="ads" title="ads" class="img-responsive">
              <p><span>15</span> Miles from Home</p>
            </div>
			<div class="application_box_contant">
			  <img src="./application_files/application1.png" alt="ads" title="ads" class="img-responsive">
			  <h2>Retention Marketing Manager</h2>
			</div>
			<div class="application_box_contant2">
			  <p><span>Location:</span>			Basingstoke, Hampshire</p>
			  <p><span>Rate:</span> 			£200 - £260 p/d</p>
			  <p><span>Start Date:</span> 	10/07/2017</p>
			  <p><span>Duration:</span> 			6 Months</p>
			  <p class="full_contant">Xcede are currently seeking a contract Marketing Manager for a 6 Month Contract with a leading UK brand. <br>
Focusing on Retention you will be providing maternity cover...</p>
			</div>
			<div class="footer_box">
			  <div class="pull-left social_box_footer">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			  </div>
			  <div class="pull-right view_company">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#">View Company <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a>
			  </div>
			</div>
          </div>
        </div>
        <div class="col-md-34 col-sm-34">
		  <div class="my_applications_box">
            <div class="header_top"> 
			  <img src="./application_files/location-map.png" alt="ads" title="ads" class="img-responsive">
              <p><span>45</span> Miles from Home</p>
            </div>
			<div class="application_box_contant">
			  <img src="./application_files/application2.png" alt="ads" title="ads" class="img-responsive">
			  <h2>Cyber Security Specialist</h2>
			</div>
			<div class="application_box_contant2">
			  <p><span>Location:</span>			Basingstoke, Hampshire</p>
			  <p><span>Rate:</span> 			£200 - £260 p/d</p>
			  <p><span>Start Date:</span> 	10/07/2017</p>
			  <p><span>Duration:</span> 			6 Months</p>
			  <p class="full_contant">Xcede are currently seeking a contract Marketing Manager for a 6 Month Contract with a leading UK brand. <br>
Focusing on Retention you will be providing maternity cover...</p>
			</div>
			<div class="footer_box">
			  <div class="pull-left social_box_footer">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			  </div>
			  <div class="pull-right view_company">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#">View Company <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a>
			  </div>
			</div>
          </div>
		</div>
        <div class="col-md-33 col-sm-33">
		  <div class="my_applications_box">
            <div class="header_top"> 
			  <img src="./application_files/location-map.png" alt="ads" title="ads" class="img-responsive">
              <p><span>60</span> Miles from Home</p>
            </div>
			<div class="application_box_contant">
			  <img src="./application_files/application3.png" alt="ads" title="ads" class="img-responsive">
			  <h2>ION Marketview</h2>
			</div>
			<div class="application_box_contant2">
			  <p><span>Location:</span>			Basingstoke, Hampshire</p>
			  <p><span>Rate:</span> 			£200 - £260 p/d</p>
			  <p><span>Start Date:</span> 	10/07/2017</p>
			  <p><span>Duration:</span> 			6 Months</p>
			  <p class="full_contant">Xcede are currently seeking a contract Marketing Manager for a 6 Month Contract with a leading UK brand. <br>
Focusing on Retention you will be providing maternity cover...</p>
			</div>
			<div class="footer_box">
			  <div class="pull-left social_box_footer">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			  </div>
			  <div class="pull-right view_company">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#">View Company <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a>
			  </div>
			</div>
          </div>
		</div>
      </div>
	  <!-- <div class="row">
	    <div class="col-sm-33">
		  <div class="ad_space">
		    <img src="./application_files/ad-space.png" alt="ads" title="ads" class="img-responsive">
		  </div>
		</div>
		<div class="col-sm-34">
		  <div class="ad_space">
		    <img src="./application_files/ad-space.png" alt="ads" title="ads" class="img-responsive">
		  </div>
		</div>
		<div class="col-sm-33">
		  <div class="ad_space">
		    <img src="./application_files/ad-space.png" alt="ads" title="ads" class="img-responsive">
		  </div>
		</div>
	  </div> -->
	  <app-ad-space></app-ad-space>
	  <div class="row">
        <div class=" col-md-33 col-sm-33">
          <div class="my_applications_box">
            <div class="header_top"> 
			  <img src="./application_files/location-map.png" alt="ads" title="ads" class="img-responsive">
              <p><span>15</span> Miles from Home</p>
            </div>
			<div class="application_box_contant">
			  <img src="./application_files/application1.png" alt="ads" title="ads" class="img-responsive">
			  <h2>Retention Marketing Manager</h2>
			</div>
			<div class="application_box_contant2">
			  <p><span>Location:</span>			Basingstoke, Hampshire</p>
			  <p><span>Rate:</span> 			£200 - £260 p/d</p>
			  <p><span>Start Date:</span> 	10/07/2017</p>
			  <p><span>Duration:</span> 			6 Months</p>
			  <p class="full_contant">Xcede are currently seeking a contract Marketing Manager for a 6 Month Contract with a leading UK brand. <br>
Focusing on Retention you will be providing maternity cover...</p>
			</div>
			<div class="footer_box">
			  <div class="pull-left social_box_footer">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			  </div>
			  <div class="pull-right view_company">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#">View Company <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a>
			  </div>
			</div>
          </div>
        </div>
        <div class="col-md-34 col-sm-34">
		  <div class="my_applications_box">
            <div class="header_top"> 
			  <img src="./application_files/location-map.png" alt="ads" title="ads" class="img-responsive">
              <p><span>45</span> Miles from Home</p>
            </div>
			<div class="application_box_contant">
			  <img src="./application_files/application2.png" alt="ads" title="ads" class="img-responsive">
			  <h2>Cyber Security Specialist</h2>
			</div>
			<div class="application_box_contant2">
			  <p><span>Location:</span>			Basingstoke, Hampshire</p>
			  <p><span>Rate:</span> 			£200 - £260 p/d</p>
			  <p><span>Start Date:</span> 	10/07/2017</p>
			  <p><span>Duration:</span> 			6 Months</p>
			  <p class="full_contant">Xcede are currently seeking a contract Marketing Manager for a 6 Month Contract with a leading UK brand. <br>
Focusing on Retention you will be providing maternity cover...</p>
			</div>
			<div class="footer_box">
			  <div class="pull-left social_box_footer">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			  </div>
			  <div class="pull-right view_company">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#">View Company <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a>
			  </div>
			</div>
          </div>
		</div>
        <div class="col-md-33 col-sm-33">
		  <div class="my_applications_box">
            <div class="header_top"> 
			  <img src="./application_files/location-map.png" alt="ads" title="ads" class="img-responsive">
              <p><span>60</span> Miles from Home</p>
            </div>
			<div class="application_box_contant">
			  <img src="./application_files/application3.png" alt="ads" title="ads" class="img-responsive">
			  <h2>ION Marketview</h2>
			</div>
			<div class="application_box_contant2">
			  <p><span>Location:</span>			Basingstoke, Hampshire</p>
			  <p><span>Rate:</span> 			£200 - £260 p/d</p>
			  <p><span>Start Date:</span> 	10/07/2017</p>
			  <p><span>Duration:</span> 			6 Months</p>
			  <p class="full_contant">Xcede are currently seeking a contract Marketing Manager for a 6 Month Contract with a leading UK brand. <br>
Focusing on Retention you will be providing maternity cover...</p>
			</div>
			<div class="footer_box">
			  <div class="pull-left social_box_footer">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			  </div>
			  <div class="pull-right view_company">
			    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#">View Company <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a>
			  </div>
			</div>
          </div>
		</div>
      </div>
	  <div class="row">
	    <div class="col-sm-100">
		  <div class="show_more_application">
		    <a href="http://beta.appnwebtechnologies.com/contractor/contractor-applications.html#" class="btn-primary width_280px  hover_white_pluse"><span>SHOW MORE APPLICATIONs</span> <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a>
		  </div>
		</div>
	  </div>
    </div>
  </section>
